In [4]:
#TO remove :
import os
directory = os.getcwd()
print(directory)

C:\Users\s1114237\OneDrive - Syngenta\Formations\Training\EPFL extension school

In [5]:
os.chdir("Machine_Learning_EPFL-extension-school\Course#2 Data Analysis")
directory = os.getcwd()
print(directory)

C:\Users\s1114237\OneDrive - Syngenta\Formations\Training\EPFL extension school\Machine_Learning_EPFL-extension-school\Course#2 Data Analysis

In [2]:
import numpy as np
import pandas as pd

# Import CSV
In this unit, we will cover some more details about getting data from csv files and look at other file formats as well. Our tool of choice will be the pandas library, due to its user-friendliness and high-level functionality. <br> 
After creating csv file c2_file.csv, we import it :

In [6]:
df = pd.read_csv("Ressources/c2_file.csv")
df

        a   b  c    d
0  yellow  10  2  3.2
1   green   2  3  8.1
2    blue   7  1  0.4

### Column headers :

In [9]:
pd.read_csv("Ressources/c2_file.csv", header=None)

        0   1  2    3
0       a   b  c    d
1  yellow  10  2  3.2
2   green   2  3  8.1
3    blue   7  1  0.4

In [11]:
pd.read_csv("Ressources/c2_file.csv", names=["column 1", "column 2", "column 3", "column 4"])

  column 1 column 2 column 3 column 4
0        a        b        c        d
1   yellow       10        2      3.2
2    green        2        3      8.1
3     blue        7        1      0.4

### Row indexes :

In [14]:
pd.read_csv("Ressources/c2_file.csv", index_col=0)

         b  c    d
a
yellow  10  2  3.2
green    2  3  8.1
blue     7  1  0.4

### Data type inference

In [15]:
df.dtypes

a     object
b      int64
c      int64
d    float64
dtype: object

In [17]:
df2 = pd.read_csv("Ressources\c2_file.csv", dtype={"b": np.float64})
df2.dtypes

a     object
b    float64
c      int64
d    float64
dtype: object

We can see that the second column now has the data type float64. This works fine because the column contains integer values, so the data type we specified is more general than the values in the column. However, if we tried to assign an incompatible data type, pandas will warn us that this is not possible. Let’s try this out by requiring the first column to have data type int64

In [18]:
df2 = pd.read_csv('Ressources\c2_file.csv',  dtype = { 'a' : np.int64})

ValueError: invalid literal for int() with base 10: 'yellow'

### Loading Partial data :

In [19]:
pd.read_csv("Ressources\c2_file.csv", usecols=["a", "b"])

        a   b
0  yellow  10
1   green   2
2    blue   7

# Import Excel file :

In [21]:
pd.read_excel("Ressources\c2_data.xls")

       varA      varB      varC
0  0.391723 -0.155122  0.381104
1  0.575125 -0.105817  0.232245
2  0.672305  0.424688 -0.694795
3  0.766115 -0.791350 -0.028739
4  0.677259 -0.817543 -0.537088
5 -0.029702 -0.891848 -0.682719
6 -0.161366 -0.659600 -0.727898
7  0.031672  0.016607 -0.940479
8  0.833212 -0.503236 -0.887210
9  0.907753  0.265177 -0.390762

In [23]:
pd.read_excel("Ressources\c2_data.xls", sheet_name="Sheet2")

       varD      varE      varF
0  0.907753  0.265177 -0.390762
1  0.755019 -0.768056 -0.528307
2  0.850692 -0.537159 -0.601387
3  0.131663  0.941327  0.240073
4  0.574400  0.091735 -0.395277
5  0.816630  0.875612 -0.880044
6  0.536732  0.175428 -0.473053
7 -0.084641 -0.042827  0.053344
8  0.268271 -0.010628 -0.090952
9  0.166792 -0.872579 -0.556899

# Import JSON file : 

A JSON object is essentially just a key-value data format that is stored inside curly brackets. Here is an example:

```
{
    "userID": 12345,
    "userName": "John Smith"
} 
```

In [25]:
pd.read_json("Ressources\c2_frame.json")

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

In [26]:
pd.read_json("Ressources\c2_books.json")

                                               books
0  {'isbn': '9781593275846', 'title': 'Eloquent J...
1  {'isbn': '9781449331818', 'title': 'Learning J...
2  {'isbn': '9781449365035', 'title': 'Speaking J...

We can see that all of the information about a book was stored in a single data field, so we cannot really distinguish between the different information such as the author, title, etc. It would be much more useful to create a DataFrame where we have different columns for the different types of data.

In [27]:
import json
from pandas import json_normalize

Let’s load the data from the JSON file and convert it to an object (a dictionary, really) which we store in the variable dictionary:

In [29]:
with open("Ressources\c2_books.json", "r") as f:
    json_string = f.read()
    dictionary = json.loads(json_string)

In [30]:
json_normalize(dictionary, 'books')

,isbn,title,subtitle,author,published,publisher,pages,description,website
0,9781593275846,"Eloquent JavaScript, Second Edition",A Modern Introduction to Programming,Marijn Haverbeke,2014-12-14T00:00:00.000Z,No Starch Press,472,JavaScript lies at the heart of almost every m...,http://eloquentjavascript.net/
1,9781449331818,Learning JavaScript Design Patterns,A JavaScript and jQuery Developer's Guide,Addy Osmani,2012-07-01T00:00:00.000Z,O'Reilly Media,254,"With Learning JavaScript Design Patterns, you'...",http://www.addyosmani.com/resources/essentialj...
2,9781449365035,Speaking JavaScript,An In-Depth Guide for Programmers,Axel Rauschmayer,2014-02-01T00:00:00.000Z,O'Reilly Media,460,"Like it or not, JavaScript is everywhere these...",http://speakingjs.com/

# Import HTML : 
The web is one of the major sources of data that you will encounter. Getting data from the web is known as web scraping, and it is a very useful skill in any data scientist’s toolbox.

### The requests library :

In [32]:
import requests
page = requests.get(
    "https://web.archive.org/web/20180908144902/en.proverbia.net/shortfamousquotes.asp"
)

In [33]:
page.text[0:100]

'\n<!DOCTYPE html>\n\n<html lang="en" xml:lang="en">\n<head><script type="text/javascript" src="/_static/'

It also has an attribute called status_code which indicates if the page was downloaded correctly:

In [34]:
page.status_code

200

A status code of 200 means that the page was downloaded correctly.

# Web Scraping 
We will use a python library called BeautifulSoup. Let’s start by importing this library :

In [35]:
from bs4 import BeautifulSoup

In [36]:
soup = BeautifulSoup(page.text, "html.parser") #we work on the page scrape before

Now comes the fun part: we want to extract the information that we want from the HTML code. In our case, our goal is to extract the quotes.

In [37]:
quotes = soup.find_all("blockquote")
quotes

[<blockquote>There is a natural aristocracy among men. The grounds of this are virtue and talents. </blockquote>,
 <blockquote>All our words from loose using have lost their edge. </blockquote>,
 <blockquote>God couldn't be everywhere, so he created mothers </blockquote>,
 <blockquote>Be not afraid of going slowly, be afraid only of standing still. </blockquote>,
 <blockquote>Learn from yesterday, live for today, hope for tomorrow. </blockquote>,
 <blockquote>Do not confine your children to your own learning, for they were born in another time. </blockquote>,
 <blockquote>I hear and I forget, I see and I remember. I do and I understand. </blockquote>,
 <blockquote>In teaching others we teach ourselves. </blockquote>,
 <blockquote>Happiness will never come to those who fail to appreciate what they already have. </blockquote>,
 <blockquote>Without His love I can do nothing, with His love there is nothing I cannot do. </blockquote>]

In [38]:
quotes[0].text

'There is a natural aristocracy among men. The grounds of this are virtue and talents. '

In [40]:
quote_list = []
for quote in quotes:
    string = quote.text
    quote_list.append(string)
    
quote_list

['There is a natural aristocracy among men. The grounds of this are virtue and talents. ',
 'All our words from loose using have lost their edge. ',
 "God couldn't be everywhere, so he created mothers ",
 'Be not afraid of going slowly, be afraid only of standing still. ',
 'Learn from yesterday, live for today, hope for tomorrow. ',
 'Do not confine your children to your own learning, for they were born in another time. ',
 'I hear and I forget, I see and I remember. I do and I understand. ',
 'In teaching others we teach ourselves. ',
 'Happiness will never come to those who fail to appreciate what they already have. ',
 'Without His love I can do nothing, with His love there is nothing I cannot do. ']

In [41]:
df = pd.DataFrame(quote_list, columns=["Quote"])
df

                                               Quote
0  There is a natural aristocracy among men. The ...
1  All our words from loose using have lost their...
2  God couldn't be everywhere, so he created moth...
3  Be not afraid of going slowly, be afraid only ...
4  Learn from yesterday, live for today, hope for...
5  Do not confine your children to your own learn...
6  I hear and I forget, I see and I remember. I d...
7            In teaching others we teach ourselves.
8  Happiness will never come to those who fail to...
9  Without His love I can do nothing, with His lo...

We will now continue by extracting the authors of each quote. The first step is as before: to identify a pattern of tags that surround the text that we want.

In [43]:
authors = soup.find_all("p", class_="a")
authors

[<p class="a">
 <a href="/web/20180908144902/http://en.proverbia.net/citasautor.asp?autor=13797" title="Thomas Jefferson Quotes">Thomas Jefferson</a> <span>(1743-1826) Third president of the United States.</span>
 </p>,
 <p class="a">
 <a href="/web/20180908144902/http://en.proverbia.net/citasautor.asp?autor=13355" title="Ernest Hemingway Quotes">Ernest Hemingway</a> <span>(1898-1961) American Writer.</span>
 </p>,
 <p class="a">
 <a href="/web/20180908144902/http://en.proverbia.net/citasautor.asp?autor=15888" title="Jewish proverb Quotes">Jewish proverb</a> <span></span>
 </p>,
 <p class="a">
 <a href="/web/20180908144902/http://en.proverbia.net/citasautor.asp?autor=15866" title="Chinese proverb Quotes">Chinese proverb</a> <span></span>
 </p>,
 <p class="a">
 <a href="/web/20180908144902/http://en.proverbia.net/citasautor.asp?autor=17381" title="Unknown Source Quotes">Unknown Source</a> <span></span>
 </p>,
 <p class="a">
 <a href="/web/20180908144902/http://en.proverbia.net/citasautor.asp?autor=15866" title="Chinese proverb Quotes">Chinese proverb</a> <span></span>
 </p>,
 <p class="a">
 <a href="/web/20180908144902/http://en.proverbia.net/citasautor.asp?autor=15866" title="Chinese proverb Quotes">Chinese proverb</a> <span></span>
 </p>,
 <p class="a">
 <a href="/web/20180908144902/http://en.proverbia.net/citasautor.asp?autor=15855" title="Proverb Quotes">Proverb</a> <span></span>
 </p>,
 <p class="a">
 <a href="/web/20180908144902/http://en.proverbia.net/citasautor.asp?autor=17381" title="Unknown Source Quotes">Unknown Source</a> <span></span>
 </p>,
 <p class="a">
 <a href="/web/20180908144902/http://en.proverbia.net/citasautor.asp?autor=17381" title="Unknown Source Quotes">Unknown Source</a> <span></span>
 </p>]

In [44]:
authors[0].text

'\nThomas Jefferson (1743-1826) Third president of the United States.\n'

We can see that there are some extra characters that we would like to remove from the text. We can do this by just selecting the indices of the string that we want to keep. In this case, we want to get rid of the first and last characters (note that \n is considered as a single character - it’s the new line character) - so the string we want to keep is:

In [45]:
authors[0].text[1:-1]

'Thomas Jefferson (1743-1826) Third president of the United States.'

In [46]:
author_list = []
for author in authors:
    string = author.text[1:-1]
    author_list.append(string)
df["Author"] = author_list
df

,Quote,Author
0,There is a natural aristocracy among men. The ...,Thomas Jefferson (1743-1826) Third president o...
1,All our words from loose using have lost their...,Ernest Hemingway (1898-1961) American Writer.
2,"God couldn't be everywhere, so he created moth...",Jewish proverb
3,"Be not afraid of going slowly, be afraid only ...",Chinese proverb
4,"Learn from yesterday, live for today, hope for...",Unknown Source
5,Do not confine your children to your own learn...,Chinese proverb
6,"I hear and I forget, I see and I remember. I d...",Chinese proverb
7,In teaching others we teach ourselves.,Proverb
8,Happiness will never come to those who fail to...,Unknown Source
9,"Without His love I can do nothing, with His lo...",Unknown Source

Let’s summarize the steps that we did:

- Download HTML code using the requests library
- Create a BeautifulSoup object to contain the parse HTML code
- Look for patterns identifying the information that you want to extract from the code
- Search for specific tags using the ```find_all()``` method
- Iterate over the object returned by ```find_all()``` and use the text attribute to extract the text between each set of tags
- Store the strings in a Python list and convert to a DataFrame for further analysis

### A special case: scraping tables 

It may happen that you want to directly scrape tables out of webpages. For that, you could apply the method described above i.e. collect the HTML from a webpage, then parse it using BeautifulSoup and insert it in a DataFrame.

But fortunately, for that specific use case, Pandas has a built-in and straightforward method ```pd.read_html()``` that will automatically retrieve tables in a webpage (as identified by < table > in its HTML code) and insert them into a DataFrame.

In [47]:
tables = pd.read_html("https://world.openfoodfacts.org/product/3017620422003/nutella-ferrero")
print(len(tables)) # 5
print(tables[0].head())

5
  Nutrition facts As soldfor 100 g / 100 ml As soldper serving (15g)  \
0          Energy        2,252 kj(539 kcal)          338 kj(80 kcal)
1             Fat                    30.9 g                   4.63 g
2   Saturated fat                    10.6 g                   1.59 g
3   Carbohydrates                    57.5 g                   8.62 g
4          Sugars                    56.3 g                   8.44 g

  Compared to: Cocoa and hazelnuts spreads
0                                      -2%
1                                      -9%
2                                     +44%
3                                     +11%
4                                     +20%

You could use the same method in a webpage with many tables, as for instance the Wikipedia page for world record progression for 50m metres freestyle, and it would return all the available tables:

In [48]:
tables = pd.read_html(
    "https://en.wikipedia.org/wiki/World_record_progression_50_metres_freestyle"
)
print(len(tables))

9

In [49]:
# the fifth table
print(tables[4].head())

   Pos   Time                   Swimmer              Date        Venue   Ref
0    1  20.91         César Cielo (BRA)  18 December 2009    São Paulo   NaN
1    2  20.94  Frederick Bousquet (FRA)     26 April 2009  Montpellier   NaN
2    3  21.04      Caeleb Dressel (USA)      27 July 2019      Gwangju   NaN
3    3  21.04      Caeleb Dressel (USA)      20 June 2021        Omaha  [19]
4    4  21.06      Cameron McEvoy (AUS)      29 July 2023      Fukuoka  [20]

In [50]:
# third table from the end of the list
print(tables[-2].head())

   Pos   Time                    Swimmer              Date         Venue   Ref
0    1  22.93  Ranomi Kromowidjojo (NED)     7 August 2017       Germany   NaN
1    2  23.00       Sarah Sjöström (SWE)     7 August 2017       Germany   NaN
2    3  23.04          Emma McKeon (AUS)  17 December 2022     Melbourne  [39]
3    4  23.10     Katarzyna Wasick (POL)   3 November 2022  Indianapolis  [40]
4    5  23.19        Cate Campbell (AUS)   27 October 2017        Russia   NaN

And if you’re only interested in tables mentioning “Switzerland”, then there is a parameter match exactly done for that:

In [51]:
tables = pd.read_html(
    "https://en.wikipedia.org/wiki/World_record_progression_50_metres_freestyle",
    match="Switzerland",
)
print(len(tables))  # 1
print(tables[0][10:15][["Time", "Name", "Nationality"]])

1
     Time          Name    Nationality
10  22.54   Robin Leamy  United States
11  22.52  Dano Halsall    Switzerland
12  22.40     Tom Jager  United States
13  22.33   Matt Biondi  United States
14  22.33   Matt Biondi  United States