In [1]:
#TO remove :
import os
directory = os.getcwd()
print(directory)

C:\Users\s1114237\OneDrive - Syngenta\Formations\Training\EPFL extension school\Machine_Learning_EPFL-extension-school\Course#2 Data Analysis

In [ ]:
os.chdir("Machine_Learning_EPFL-extension-school\Course#2 Data Analysis")
directory = os.getcwd()
print(directory)

<a id="top"></a>
# Project Course 2 

### Task : 

- A) [An overview of the dataset](#TaskA)
- B) [Data Cleaning](#TaskB)
- C) [Preliminary Exploratory Data Analysis (EDA)](#TaskC)
- D) [EDA: Text data](#TaskD)
- E) [EDA: Time-series data](#TaskE)
- F) [EDA: Correlation analysis](#TaskF)
- G) [Advanced EDA](#TaskG)

<a id="TaskA"></a>
## OpenFood database : Task A
[top](#top)

The dataset was collected from the Open Food repo, a community-driven open database for barcoded food products. This dataset contains the ingredients and nutritional facts of approximately 385k food products, from several countries worldwide.

- **id:** The ID used by the OpenFood database for this Product.
- **barcode:** Product barcode.
- **ingredients_en:** The ingredients of the Product in English as provided by the manufacturer.
- **quantity:** The dry net weight or volume of the Product. To be used in conjunction with the unit.
- **unit**: The unit used by quantity to measure the weight or volume of the Product (usually g or ml).
- **portion_quantity:** The dry net weight or volume of a serving size of the Product. To be used in conjunction with portion_unit.
- **portion_unit:** The unit used by portion_quantity to measure the weight or volume of a serving size of the Product (usually g or ml).
- **hundred_unit:** The unit used for the “per hundred” product nutrients (usually g or ml).
- **alcohol_by_volume:** The percentage of alcohol in the Product.
- **nutrients:** The Product’s nutrients as described by the manufacturer.
- **created_at:** UTC DateTime at which this Product was added to the OpenFood database.
- **updated_at:** UTC DateTime at which this Product (or one of its subordinate objects, including images nutrients) was last modified.

In [6]:
#Task A library : 
import pandas as pd

### Tasks : 

- 1.Import the data as a pandas DataFrame into your notebook.
- 2.Check the number of rows and columns. You should have 385’384 samples and 99 columns.
- 3.Display a few entries from the DataFrame.
- 4.Check the data type for each column. Create separate lists to hold the names of columns of the same data type.
- 5.Check the data by the type of information they hold. Create 3 lists that hold _per_hundred, _per_portion and _unit columns. Put the remaining column names in a 4th list named other_cols. Note that you should create these 4 lists without manually selecting the column names.

### 1. Import the data as a pandas DataFrame
We recommend loading it using the pandas read_pickle function and setting the compression parameter to ‘zip’:

In [11]:
filename = "Ressources/data_385k.pkl"
df = pd.read_pickle(filename, compression='zip') #Un peu long

(385384, 99)

### 2. Check the number of rows and columns
We recommend loading it using the pandas read_pickle function and setting the compression parameter to ‘zip’:

In [12]:
df.shape

(385384, 99)

### 3. Display a few entries from the DataFrame

In [13]:
df.head()

,alcohol_by_volume,barcode,calcium_per_hundred,calcium_unit,carbohydrates_per_hundred,carbohydrates_per_portion,carbohydrates_unit,cholesterol_per_hundred,cholesterol_unit,copper_cu_per_hundred,...,vitamin_b5_panthothenic_acid_per_hundred,vitamin_b5_panthothenic_acid_unit,vitamin_b6_pyridoxin_per_hundred,vitamin_b6_pyridoxin_unit,vitamin_c_ascorbic_acid_per_hundred,vitamin_c_ascorbic_acid_unit,vitamin_d_d2_d3_international_units_per_hundred,vitamin_d_d2_d3_international_units_unit,zinc_per_hundred,zinc_unit
0,0.0,8001772000030,NaN,NaN,75.00,37.50,g,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,7610809001066,NaN,NaN,1.50,1.13,g,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,8002530159021,NaN,NaN,52.68,NaN,g,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.0,3033715065788,NaN,NaN,70.40,11.97,g,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,7610848492740,NaN,NaN,37.00,7.40,g,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 4. Check the data type for each column
``` df.dtypes``` didn't display the type of each column but with this function we will get the type and create lists of columns  per type :

In [23]:
df.info() #Show the Type for each column 'float64' or 'object'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385384 entries, 0 to 385383
Data columns (total 99 columns):
 #   Column                                           Non-Null Count   Dtype
---  ------                                           --------------   -----
 0   alcohol_by_volume                                385384 non-null  float64
 1   barcode                                          385384 non-null  object
 2   calcium_per_hundred                              264979 non-null  float64
 3   calcium_unit                                     265086 non-null  object
 4   carbohydrates_per_hundred                        351551 non-null  float64
 5   carbohydrates_per_portion                        11480 non-null   float64
 6   carbohydrates_unit                               351828 non-null  object
 7   cholesterol_per_hundred                          270282 non-null  float64
 8   cholesterol_unit                                 270329 non-null  object
 9   copper_cu_per_hundred                            3611 non-null    float64
 10  copper_cu_unit                                   3611 non-null    object
 11  country                                          385384 non-null  object
 12  created_at                                       385384 non-null  object
 13  energy_kcal_per_hundred                          341824 non-null  float64
 14  energy_kcal_per_portion                          9967 non-null    float64
 15  energy_kcal_unit                                 337540 non-null  object
 16  energy_per_hundred                               341821 non-null  float64
 17  energy_per_portion                               10920 non-null   float64
 18  energy_unit                                      342009 non-null  object
 19  fat_per_hundred                                  348635 non-null  float64
 20  fat_per_portion                                  11531 non-null   float64
 21  fat_unit                                         348967 non-null  object
 22  fatty_acids_total_saturated_per_hundred          279151 non-null  float64
 23  fatty_acids_total_saturated_unit                 279151 non-null  object
 24  fatty_acids_total_trans_per_hundred              269607 non-null  float64
 25  fatty_acids_total_trans_unit                     269607 non-null  object
 26  fiber_insoluble_per_hundred                      3509 non-null    float64
 27  fiber_insoluble_unit                             3510 non-null    object
 28  fiber_per_hundred                                286729 non-null  float64
 29  fiber_per_portion                                8927 non-null    float64
 30  fiber_soluble_per_hundred                        3827 non-null    float64
 31  fiber_soluble_unit                               3829 non-null    object
 32  fiber_unit                                       286927 non-null  object
 33  folate_total_per_hundred                         7696 non-null    float64
 34  folate_total_unit                                7696 non-null    object
 35  folic_acid_per_hundred                           4581 non-null    float64
 36  folic_acid_unit                                  4600 non-null    object
 37  hundred_unit                                     385384 non-null  object
 38  id                                               385384 non-null  int64
 39  ingredients_en                                   336301 non-null  object
 40  iron_per_hundred                                 264389 non-null  float64
 41  iron_unit                                        264466 non-null  object
 42  magnesium_per_hundred                            11130 non-null   float64
 43  magnesium_unit                                   11182 non-null   object
 44  manganese_mn_per_hundred                         3659 non-null    float64
 45  manganese_mn_unit                                3662 non-null    object
 46  monounsaturated_fatty_acids_per_hundred          45074 non-null   float64
 47  monounsaturated_fatty_acids_unit                 45095 non-null   object
 48  phosphorus_per_hundred                           11347 non-null   float64
 49  phosphorus_unit                                  11352 non-null   object
 50  polyunsaturated_fatty_acids_per_hundred          44720 non-null   float64
 51  polyunsaturated_fatty_acids_unit                 44738 non-null   object
 52  portion_quantity                                 385384 non-null  float64
 53  portion_unit                                     385384 non-null  object
 54  potassium_k_per_hundred                          99569 non-null   float64
 55  potassium_k_unit                                 99599 non-null   object
 56  product_name_de                                  21398 non-null   object
 57  product_name_en                                  342844 non-null  object
 58  product_name_fr                                  25560 non-null   object
 59  protein_per_hundred                              353614 non-null  float64
 60  protein_per_portion                              11401 non-null   float64
 61  protein_unit                                     353931 non-null  object
 62  quantity                                         385384 non-null  float64
 63  salt_per_hundred                                 24360 non-null   float64
 64  salt_per_portion                                 10589 non-null   float64
 65  salt_unit                                        24533 non-null   object
 66  saturated_fat_per_hundred                        23910 non-null   float64
 67  saturated_fat_per_portion                        10729 non-null   float64
 68  saturated_fat_unit                               24175 non-null   object
 69  sodium_per_hundred                               324074 non-null  float64
 70  sodium_per_portion                               1003 non-null    float64
 71  sodium_unit                                      324204 non-null  object
 72  sugars_added_per_hundred                         42478 non-null   float64
 73  sugars_added_unit                                42482 non-null   object
 74  sugars_per_hundred                               333279 non-null  float64
 75  sugars_per_portion                               11245 non-null   float64
 76  sugars_unit                                      333553 non-null  object
 77  unit                                             385384 non-null  object
 78  updated_at                                       385384 non-null  object
 79  vitamin_a_iu_per_hundred                         192093 non-null  float64
 80  vitamin_a_iu_unit                                192093 non-null  object
 81  vitamin_b12_cobalamin_per_hundred                9874 non-null    float64
 82  vitamin_b12_cobalamin_unit                       9902 non-null    object
 83  vitamin_b1_thiamin_per_hundred                   20527 non-null   float64
 84  vitamin_b1_thiamin_unit                          20551 non-null   object
 85  vitamin_b2_riboflavin_per_hundred                19808 non-null   float64
 86  vitamin_b2_riboflavin_unit                       19832 non-null   object
 87  vitamin_b3_niacin_per_hundred                    21242 non-null   float64
 88  vitamin_b3_niacin_unit                           21261 non-null   object
 89  vitamin_b5_panthothenic_acid_per_hundred         4666 non-null    float64
 90  vitamin_b5_panthothenic_acid_unit                4684 non-null    object
 91  vitamin_b6_pyridoxin_per_hundred                 13364 non-null   float64
 92  vitamin_b6_pyridoxin_unit                        13390 non-null   object
 93  vitamin_c_ascorbic_acid_per_hundred              200256 non-null  float64
 94  vitamin_c_ascorbic_acid_unit                     200309 non-null  object
 95  vitamin_d_d2_d3_international_units_per_hundred  67024 non-null   float64
 96  vitamin_d_d2_d3_international_units_unit         67025 non-null   object
 97  zinc_per_hundred                                 8640 non-null    float64
 98  zinc_unit                                        8658 non-null    object
dtypes: float64(50), int64(1), object(48)
memory usage: 291.1+ MB

In [46]:
df_types = df.dtypes.unique()
myVars = locals()
print("New vars which list column names with the same type :") 
for t in df_types :
    print("df_"+str(t))
    myVars["df_"+str(t)] = list(df.columns[df.dtypes == t])

New vars which list column names with the same type :
df_float64
df_object
df_int64

For example the list of column with the type float 64 :

In [47]:
print(df_float64)

['alcohol_by_volume', 'calcium_per_hundred', 'carbohydrates_per_hundred', 'carbohydrates_per_portion', 'cholesterol_per_hundred', 'copper_cu_per_hundred', 'energy_kcal_per_hundred', 'energy_kcal_per_portion', 'energy_per_hundred', 'energy_per_portion', 'fat_per_hundred', 'fat_per_portion', 'fatty_acids_total_saturated_per_hundred', 'fatty_acids_total_trans_per_hundred', 'fiber_insoluble_per_hundred', 'fiber_per_hundred', 'fiber_per_portion', 'fiber_soluble_per_hundred', 'folate_total_per_hundred', 'folic_acid_per_hundred', 'iron_per_hundred', 'magnesium_per_hundred', 'manganese_mn_per_hundred', 'monounsaturated_fatty_acids_per_hundred', 'phosphorus_per_hundred', 'polyunsaturated_fatty_acids_per_hundred', 'portion_quantity', 'potassium_k_per_hundred', 'protein_per_hundred', 'protein_per_portion', 'quantity', 'salt_per_hundred', 'salt_per_portion', 'saturated_fat_per_hundred', 'saturated_fat_per_portion', 'sodium_per_hundred', 'sodium_per_portion', 'sugars_added_per_hundred', 'sugars_per_hundred', 'sugars_per_portion', 'vitamin_a_iu_per_hundred', 'vitamin_b12_cobalamin_per_hundred', 'vitamin_b1_thiamin_per_hundred', 'vitamin_b2_riboflavin_per_hundred', 'vitamin_b3_niacin_per_hundred', 'vitamin_b5_panthothenic_acid_per_hundred', 'vitamin_b6_pyridoxin_per_hundred', 'vitamin_c_ascorbic_acid_per_hundred', 'vitamin_d_d2_d3_international_units_per_hundred', 'zinc_per_hundred']

### 5. Check the data by the type of information they hold

In [98]:
New_lists = ['_per_hundred', '_per_portion', '_unit', '_other_cols']

print("New variables which list column names with the same type of informations :") 

for suffix in New_lists : # 1 I create the empty variables
    print("df"+str(suffix))
    myVars["df"+str(suffix)] = list()

for colname in  list(df.columns): #each name of column is placed into the different list 
    
    if New_lists[0] in colname :
        myVars["df"+str(New_lists[0])].append(colname) #.split(str(New_lists[0]))[0] # To keep only the part before the suffix
    elif New_lists[1] in colname :
        myVars["df"+str(New_lists[1])].append(colname)#.split(str(New_lists[1]))[0]
    elif New_lists[2] in colname :
        myVars["df"+str(New_lists[2])].append(colname)#.split(str(New_lists[2]))[0]
    else :
        myVars["df"+str(New_lists[3])].append(colname)

New variables which list column names with the same type of informations :
df_per_hundred
df_per_portion
df_unit
df_other_cols

In [99]:
print(df_per_hundred)

['calcium_per_hundred', 'carbohydrates_per_hundred', 'cholesterol_per_hundred', 'copper_cu_per_hundred', 'energy_kcal_per_hundred', 'energy_per_hundred', 'fat_per_hundred', 'fatty_acids_total_saturated_per_hundred', 'fatty_acids_total_trans_per_hundred', 'fiber_insoluble_per_hundred', 'fiber_per_hundred', 'fiber_soluble_per_hundred', 'folate_total_per_hundred', 'folic_acid_per_hundred', 'iron_per_hundred', 'magnesium_per_hundred', 'manganese_mn_per_hundred', 'monounsaturated_fatty_acids_per_hundred', 'phosphorus_per_hundred', 'polyunsaturated_fatty_acids_per_hundred', 'potassium_k_per_hundred', 'protein_per_hundred', 'salt_per_hundred', 'saturated_fat_per_hundred', 'sodium_per_hundred', 'sugars_added_per_hundred', 'sugars_per_hundred', 'vitamin_a_iu_per_hundred', 'vitamin_b12_cobalamin_per_hundred', 'vitamin_b1_thiamin_per_hundred', 'vitamin_b2_riboflavin_per_hundred', 'vitamin_b3_niacin_per_hundred', 'vitamin_b5_panthothenic_acid_per_hundred', 'vitamin_b6_pyridoxin_per_hundred', 'vitamin_c_ascorbic_acid_per_hundred', 'vitamin_d_d2_d3_international_units_per_hundred', 'zinc_per_hundred']

In [100]:
print(df_other_cols)

['alcohol_by_volume', 'barcode', 'country', 'created_at', 'id', 'ingredients_en', 'portion_quantity', 'product_name_de', 'product_name_en', 'product_name_fr', 'quantity', 'unit', 'updated_at']

<a id="TaskB"></a>
## Data cleaning : Task B
[top](#top)