Gradient descent
---

Exercise - Fit a linear regression with OLS
---

> **Exercise**: Load the train and test sets. Fit a linear regression using OLS with the `LinearRegression` object from Scikit-learn. Compute the train and test RMSE scores.

In [5]:
import pandas as pd
import numpy as np

# Load train/test data

train_df = pd.read_csv("c3_bike-train.csv")
test_df = pd.read_csv("c3_bike-test.csv")
train_df.head()

,temp,temp_C,hum,windspeed,atemp,atemp_C,yr,workingday,holiday,casual
0,0.368,9.296,0.569,0.148,0.379,9.014,1,1,0,1603
1,0.700,24.900,0.761,0.084,0.660,27.560,0,1,0,768
2,0.282,5.254,0.538,0.187,0.282,2.612,0,0,0,424
3,0.335,7.745,0.450,0.308,0.320,5.120,0,1,0,231
4,0.398,10.706,0.466,0.290,0.388,9.608,1,1,0,663

In [7]:
# Create input matrices and output vectors
X_tr = train_df.drop("casual", axis=1).values
y_tr = train_df.casual.values

X_te = test_df.drop("casual", axis=1).values
y_te = test_df.casual.values

print(X_tr)

[[ 0.368  9.296  0.569 ...  1.     1.     0.   ]
 [ 0.7   24.9    0.761 ...  0.     1.     0.   ]
 [ 0.282  5.254  0.538 ...  0.     0.     0.   ]
 ...
 [ 0.599 20.153  0.669 ...  1.     1.     0.   ]
 [ 0.732 26.404  0.486 ...  1.     1.     0.   ]
 [ 0.322  7.134  0.62  ...  1.     1.     0.   ]]

In [8]:
print(y_tr)

[1603  768  424  231  663  438   73  555 2290  538  606  819  394  863
   64 1319 2512 1026  456 1198 1196 1050  863  614 1869  706  137  767
  410  439  939  502  314  376 3155  676  195 1017  620  655  255  325
  796  846 1156  321 1514  518   82 1065 1182  834 3031   88 1576  968
  773  120  333  922  150  830  486  217  480  246  243 2397  317  907
  841  139  599 1138  203  212   54 2469  247  951  815  425  226  284
  846  282  548 1027 1455 1318  723  547 1032  205  727 1558  117  640
  115  326  121 2494  922 1249  143 2015  227  829  734 2551  447  300
  709  181 2544 2301  841  758  618  673 1263   53  872  653    2  921
  943 1633  760 2634  433  155  247  120   50  884 1097  871  713  775
  140 1829  773  533  766    9 1483 1920 1807  178  269  787 2806 2166
 1920 1988  678 1334  611  690  874  637  534 1070 1249   61  168  208
  150  123  362  752  203  126  695  289  558 1139 1022 2352 1045 1521
 2657  989  515  735  729 1557  832  618 1281  191  186  127 1023  694
  178  177  545  755  997 1366  616 1054 1278 2708 1899 2795  112  847
  819  668 1122  569  905   34  745 1549  736  477 1807  909 1353  787
 1008  204  795  141   83 1095  699  477  775  167  745 2235  529 2182
  327 1051 3065 1070  315  310  330  484 2204   72  460  470   25  397
  222  354   81  149   74 1088  670 2355 1483  255 2234  879  174  550
   86 2589  998  307 3283  130  632   95 1203 2613  145  471  647 1177
 2006  413  331 1639 2345  370 2355  106  721  659 1027  695  123  259
  220  987  981  845  888 1965  310  898  166  221 1965  254  694  245
  428  309 2207  288 2570  439  268  480  764 2562  139 1313  664  123
 2282 1058 1417  466  513  875 1077  921  763  258 1748  229 2001 2132
  854 1188 1033  432  678  359  778  340  333  969  317 1405  653  340
  440  304 1363  989  724 1094  559  174   41  430 1153  662 1250 1511
  320]

In [9]:
# Implement RMSE
def rmse(y, y_pred):
    return np.sqrt(np.mean(np.square(y - y_pred)))

In [10]:
from sklearn.linear_model import LinearRegression

# Fit a linear regression using OLS
lr = LinearRegression()  # Create object
lr.fit(X_tr, y_tr)  # Fit it to train data

# Evaluate model
y_pred_tr = lr.predict(X_tr)  # Train data
lr_rmse_tr = rmse(y_tr, y_pred_tr)

y_pred_te = lr.predict(X_te)  # Test data
lr_rmse_te = rmse(y_te, y_pred_te)

print("Linear regression (OLS) - train RMSE: {:.2f}".format(lr_rmse_tr))
print("Linear regression (OLS) - test RMSE: {:.2f}".format(lr_rmse_te))

Linear regression (OLS) - train RMSE: 397.42
Linear regression (OLS) - test RMSE: 388.67

Exercise - Fit a linear regression with gradient descent
---

> **Exercise**: Standardize the features using the train data, i.e., train mean and standard deviation. Fit a linear regression to the train data with gradient descent and evaluate its performance on the test data.

**Hint**: Test different different learning rates, e.g., 0.01, 0.1, 0.5

In [11]:
# Standardize features using train mean and standard deviation
X_tr_stand = (X_tr - X_tr.mean(axis=0)) / X_tr.std(axis=0)
X_te_stand = (X_te - X_tr.mean(axis=0)) / X_tr.std(axis=0)

In [12]:
# Add column of ones
X_tr_stand1 = np.c_[np.ones(X_tr_stand.shape[0]), X_tr_stand]
X_te_stand1 = np.c_[np.ones(X_te_stand.shape[0]), X_te_stand]

In [14]:
# Implement gradient descent
def gd(X, y, lr, n_steps):
    # Initialize vector of parameters
    w = np.zeros(X.shape[1])

    # Log RMSE at each step
    log_rmse = []

    # Perform n_steps iterations
    for step in range(n_steps):
        # Compute the predictions
        y_pred = np.matmul(X, w)

        # Gradient for linear regression with MSE
        error = y - y_pred
        gradient = -2 * np.matmul(X.T, error) / X.shape[0]

        # Update the vector of parameters
        w -= lr * gradient

        # Log RMSE value
        log_rmse.append(rmse(y, y_pred))

    # Return vector of parameters and last RMSE value
    return w, log_rmse[-1]


# Fit linear regression
w, gd_rmse_tr = gd(X_tr_stand1, y_tr, lr=0.1, n_steps=500)

# Evaluate model
y_pred_te = np.matmul(X_te_stand1, w)
gd_rmse_te = rmse(y_te, y_pred_te)

print("Linear regression (GD) - train RMSE: {:.2f}".format(gd_rmse_tr))
print("Linear regression (GD) - test RMSE: {:.2f}".format(gd_rmse_te))

Linear regression (GD) - train RMSE: 397.42
Linear regression (GD) - test RMSE: 388.47