In [1]:
#TO remove :
import os
directory = os.getcwd()
print(directory)

C:\Users\s1114237\OneDrive - Syngenta\Formations\Training\EPFL extension school\Machine_Learning_EPFL-extension-school\Course#2 Data Analysis\Ressources

In [2]:
os.chdir("Machine_Learning_EPFL-extension-school\Course#2 Data Analysis")
directory = os.getcwd()
print(directory)

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'Machine_Learning_EPFL-extension-school\\Course#2 Data Analysis'

# Working with time-series data
## Pandas data structures for time series data

In this unit we introduce the fundamental data structures in pandas for working with time series data. In the first part, we introduce three data types followed by their associated indexes. In the second part, we discuss frequencies and offsets for time series data.

### The Timestamp object and its DatetimeIndex object

Pandas’ Timestamp object provides an easy to use tool for dealing with dates and times that is also very efficient. Its efficiency is due to the fact that it takes advantage of the storage and vectorized interface of the NumPy datetime64 dtype. This data type encodes dates as 64-bit integers allowing them to be represented in a compact way.

Let’s now look at some examples. We can create a Timestamp object in pandas using the pd.to_datetime() function and specifying a minimum of three parameters representing the year, month and day. There is a lot of flexibility as to how we can provide these parameters. Try out each of the examples below

In [3]:
import pandas as pd
import numpy as np

pd.to_datetime("13th of February, 2009")

Timestamp('2009-02-13 00:00:00')

In [4]:
pd.to_datetime("02-13-2009")

Timestamp('2009-02-13 00:00:00')

In [5]:
pd.to_datetime("Feb 13, 2009")

Timestamp('2009-02-13 00:00:00')

As you can see there are many different ways to define the same date. We can choose to specify also a time together with our date as follows

In [6]:
pd.to_datetime("Feb 13, 2009 14:20:00")

Timestamp('2009-02-13 14:20:00')

If we instead provide only a time then the current local date will be assigned

In [7]:
pd.to_datetime("13:00")

Timestamp('2023-11-19 13:00:00')

We can even retrieve the current date and time by passing the keyword 'now' as follows

In [8]:
pd.to_datetime("now")

Timestamp('2023-11-19 16:40:22.460742')

The Timestamp object has several useful attributes. We can, for example, retrieve the day of the week using

In [9]:
pd.to_datetime("Feb 13, 2009 14:20:00").day_name()

'Friday'

***Note :*** What happens when we store a sequence of Timestamp objects in a Series? Well, pandas has a special index object for us called Datetimeindex. This is essentially where the pandas time series tools become really useful since it allows to index data by timestamps.

Creating DatetimeIndex() objects is very simple: we just pass a series of dates to the pd.to_dateTime() function. Let’s look at an example.

In [10]:
dates = pd.to_datetime(
    [pd.Timestamp(2015, 8, 5), pd.Timestamp(2015, 8, 6), pd.Timestamp(2015, 8, 7)]
)
dates

DatetimeIndex(['2015-08-05', '2015-08-06', '2015-08-07'], dtype='datetime64[ns]', freq=None)

Here again you can retrieve date and time information, for example, the day or the month using

In [11]:
dates.day

Int64Index([5, 6, 7], dtype='int64')

In [12]:
dates.month

Int64Index([8, 8, 8], dtype='int64')

### The Timedelta object and its TimedeltaIndex object
The Timedelta object is meant to capture the difference in time between two Timestamp objects. Whenever we subtract one Timestamp object from another what we get back is a Timedelta object. Try out the following example

In [13]:
date1 = pd.Timestamp("2018-03-03")
date2 = pd.Timestamp("1984-03-03")
date1 - date2

Timedelta('12418 days 00:00:00')

We can also create a Timedelta object using pd.Timedelta as follows

In [14]:
pd.Timedelta(days=54, hours=3)

Timedelta('54 days 03:00:00')

If we add a Timedelta to a Timestamp we get another Timestamp:

In [15]:
date1 + pd.Timedelta(days=54, hours=3)

Timestamp('2018-04-26 03:00:00')

***Note :*** Just like subtracting two Timestamp objects results in a Timedelta object, subtracting two DatetimeIndex objects results in a TimdeltaIndex object.

To create TimdeltaIndex() object try the following example

In [16]:
dates - dates[0]

TimedeltaIndex(['0 days', '1 days', '2 days'], dtype='timedelta64[ns]', freq=None)

Here we subtracted the first date from each of the dates and the corresponding time durations are now returned as a TimedeltaIndex object.

### The Period object and its PeriodIndex object
The last of the three data structures for time series data is the Period object which encodes a fixed frequency interval. The purpose of this object is to allow us to specify a duration based on a frequency such as daily, weekly or annually. Pandas then provides a specific start and end Timestamp to represent this interval of time.

As an example the following line of code creates a period representing one month

In [17]:
jan2015 = pd.Period("2015-01")
jan2015

Period('2015-01', 'M')

Notice that pandas added a parameter 'M' which indicates that this Period object has a frequency of one month. This is the default setting. We can specify a different frequency when creating a Period object using the freq parameter as follows

In [19]:
pd.Period("2015-01", freq="D")

Period('2015-01-01', 'D')

We can check the start and end times using the following attributes

In [20]:
jan2015.start_time

Timestamp('2015-01-01 00:00:00')

In [21]:
jan2015.end_time

Timestamp('2015-01-31 23:59:59.999999999')

We can also change the frequency of a period using the asfreq() function and providing a new frequency

In [22]:
period = pd.Period("2015-01", freq="H")
period.asfreq("D")

Period('2015-01-01', 'D')

We can also convert aPeriod object into a Timestamp object

In [23]:
period = pd.Period("2015-01", freq="H")
period.to_timestamp()

Timestamp('2015-01-01 00:00:00')

Note that this takes the start time of the period. Conversely, we can go from a Timestamp to a Period as long as we provide a frequency

In [24]:
pd.Timestamp("2015-01-01 00:00:00").to_period("M")

Period('2015-01', 'M')

***Note :*** A Series of Period objects can also be combined as a PeriodIndex object. One way of creating a PeriodIndex object is by converting any DatetimeIndex object using the pd.to_period() function and specifying the desired frequency.

Let’s give this a try

In [25]:
print(dates.to_period("D"))
print(dates.to_period("D")[0].start_time)
print(dates.to_period("D")[0].end_time)

PeriodIndex(['2015-08-05', '2015-08-06', '2015-08-07'], dtype='period[D]')
2015-08-05 00:00:00
2015-08-05 23:59:59.999999999

### Creating series and dataframes using the three data structures
So far we have discussed three data structures. Now we can use them and construct a Series (or a DataFrame) object by just providing the necessary values and specifying our choice of index. Try out each of the examples below

In [27]:
ts1 = pd.Series(np.arange(3), dates)
print("ts1 :") 
print(ts1)

ts2 = pd.Series(np.arange(3), dates.to_period("D"))
print("ts2 :") 
print(ts2)

ts3 = pd.Series(np.arange(3), dates - dates[0])
print("ts3 :") 
print(ts3)

ts1 :
2015-08-05    0
2015-08-06    1
2015-08-07    2
dtype: int32
ts2 :
2015-08-05    0
2015-08-06    1
2015-08-07    2
Freq: D, dtype: int32
ts3 :
0 days    0
1 days    1
2 days    2
dtype: int32

You can check the specific index of all of these Series

In [29]:
print(ts1.index)
print(ts2.index)
print(ts3.index)

DatetimeIndex(['2015-08-05', '2015-08-06', '2015-08-07'], dtype='datetime64[ns]', freq=None)
PeriodIndex(['2015-08-05', '2015-08-06', '2015-08-07'], dtype='period[D]')
TimedeltaIndex(['0 days', '1 days', '2 days'], dtype='timedelta64[ns]', freq=None)

The big advantage of having data stored with these special type of time indices is that we can then access them by timestamps, periods, and duration respectively. We can use all of the usual Series indexing commands we have seen before. Also, a very useful trick to keep in mind is that we can slice a DatetimeIndex object by just specifying a year, or a month. It will then return all entries that correspond to the given year or month.

In [30]:
print('ts1["2015.08.05"] :')
print(ts1["2015.08.05"])
print('ts1["august 5, 2015"]')
print(ts1["august 5, 2015"])
print('ts1[1:3]')
print(ts1[1:3])
print('ts1["2015-08-06 ":"2015-08-07 "]')
print(ts1["2015-08-06 ":"2015-08-07 "])
print('ts1["2015"]')
print(ts1["2015"])

ts1["2015.08.05"] :
0
ts1["august 5, 2015"]
0
ts1[1:3]
2015-08-06    1
2015-08-07    2
dtype: int32
ts1["2015-08-06 ":"2015-08-07 "]
2015-08-06    1
2015-08-07    2
dtype: int32
ts1["2015"]
2015-08-05    0
2015-08-06    1
2015-08-07    2
dtype: int32

It is often the case that we want to create a special index object consisting of a regular sequence defined by a specific range. In order to facilitate this pandas offers us to following three functions

- pd.date_range() for timestamps
- pd.timdelta_range() for time deltas
- pd.period_range() for periods

These functions are similar to NumPy’s np.arange() which if you recall takes a start point, an endpoint, and an optional frequency and creates a sequence of evenly spaced numbers.

For the pd.date_range() function we can specify either a start and end date as follows

In [31]:
pd.date_range("2018-01-01", "2018-01-05")

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05'],
              dtype='datetime64[ns]', freq='D')

or a start time and the number of periods

In [32]:
pd.date_range("2018-01-01", periods=5)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05'],
              dtype='datetime64[ns]', freq='D')

We can see that both commands created a DatetimeIndex object that contains five Timestamp objects. The default frequency of the dates was one day. We can specify a different frequency by adding in the freq parameter.

In [33]:
pd.date_range("01-01-2018", periods=5, freq="H")

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

To create regular sequences of Timedelta or Period objects we can use the similar functions pd.timedelta_range() and pd.period_range().

In [34]:
pd.timedelta_range(0, periods=5, freq="H")

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00'],
               dtype='timedelta64[ns]', freq='H')

In [35]:
pd.period_range("2018-01", periods=3, freq="M")

PeriodIndex(['2018-01', '2018-02', '2018-03'], dtype='period[M]')

### Frequencies and offsets
We already saw some options of frequency such as M for month, D for day and H for hour. In fact pandas a whole list of frequency codes available to us. Below we summarize the main ones

- H Hour
- D Day
- W Week
- M Month
- Q Quarter
- A Year

As you can see there is quite a bit of choice, so it’s important to be aware of possibilities available to you. Now dealing with frequencies and data offsets is a fundamental part of working with time series. In pandas, frequencies are represented using date offsets. For this there is a special object called DateOffset. This object represents a regular frequency increment. Let’s try an example

In [37]:
pd.DateOffset(days=1)

So what can we actually use these for? Well we can add or subtract them from a Timestamp

In [38]:
pd.Timestamp("2010.01.01") + pd.DateOffset(days=1)

Timestamp('2010-01-02 00:00:00')

But more importantly, pandas has specific types of offsets available to use. Below we list some of the main ones, but for a full list you can consult the pandas documentation for DateOffset Objects

- BDay Business day
- Week One week, optionally anchored on a day of the week
- MonthEnd
- YearEnd

To use these we must first include the following statement in our notebook

In [39]:
from pandas.tseries.offsets import *

DatetimeIndex(['2010-07-07', '2010-07-08', '2010-07-09', '2010-07-12',
               '2010-07-13'],
              dtype='datetime64[ns]', freq='B')

So an equivalent way to define the business day offset we saw above would be :

In [40]:
pd.date_range("2010-07-07", periods=5, freq=BDay())

DatetimeIndex(['2010-07-07', '2010-07-08', '2010-07-09', '2010-07-12',
               '2010-07-13'],
              dtype='datetime64[ns]', freq='B')

Alternatively, we can also use anchored offsets. For example, if we are interested in specific days of the week then we can choose an anchored offset that computes all the dates corresponding to our chosen day of the week. Let’s try it with Friday. The code that we must use is W-FRI so we can write

In [41]:
pd.date_range("2010-07-07", periods=10, freq="W-FRI")

DatetimeIndex(['2010-07-09', '2010-07-16', '2010-07-23', '2010-07-30',
               '2010-08-06', '2010-08-13', '2010-08-20', '2010-08-27',
               '2010-09-03', '2010-09-10'],
              dtype='datetime64[ns]', freq='W-FRI')

This gives us the dates for 10 consecutive Fridays given our starting date.

Now that we are aware of the main objects and functions available to us it is time to actually work with some time series data. In the next unit we load a data set containing financial data.

### Summary
Let’s summarize what we’ve learned in this unit. Here are a few takeaways:

- We showed various examples of Timestamp, Timedelta and Period objects from pandas
- We showed their associated indexes i.e. DatetimeIndex, TimedeltaIndex and PeriodIndex
- We also showed multiple examples of frequencies and offsets used for time series data
In the following units in this subject we revisit this tools again and see how they can be used in time series analysis with real data.

## Shifting and computing first differences 

In this unit, we use financial time series from Yahoo and discuss how we can use pandas to shift the time series values backward and forward in time. Let’s start by taking a look at the data set.

### Getting the data
The data shows market information, from 1984 to 2020, for the share of JPMorgan Chase & Co., the largest bank holding company in the US, which is listed on the New York Stock Exchange. The data is stored in a CSV file called c2_financial_data.csv which can be downloaded from the resources tab of this unit. To import this data into a pandas dataframe we can use the read_csv() function.